body{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	scroll-behavior: smooth;
}
#contenedor {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
}
#nav{
	width: 100%;
	height: 150px;
	background-color:#000;
	color:white;
	line-height: 150px;
       	position:fixed;
        top:0
}

#nav ul{
	padding-left: 60%;
	list-style-type: none;
        	margin: 0px;
        	padding: 0px;
        	display:flex;
 	 justify-content:flex-end;
}

#nav ul li{
	display: block;
   	width: 120px;
   	float: left;
   	text-align:center;
}

#nav ul li a{
	display: block;
   	color: white;
   	text-align: center;
   	text-decoration: none;
}

#nav ul li a:hover{
    	background-color: #585858;
    	color: #fff;
}

.active {
    	background-color: #4CAF50;
}

#cabecera {
	height: 350px;
	width: 100%;
	background-size: 100% 100%;
	margin-bottom:-20px;
}

#cabecera img{
	height: 220px;
	margin-top: 75px;
	margin-left: 45px;
}

#contactos{
	text-align: center;
	height: 450px;
	width: 100%;
	background-size: 100% 100%;
	margin-top:0px;
	z-index: 0;
	color:#000;
}

#transparente h2{
	color:white;
	text-align: center;
	margin-top: 60px;
}

.input{
	width: 400px;
	height: 30px;
	margin-bottom: 20px;
	color: black;
	float: right;
	margin-right: 20px;
}

.textarea{
	width: 400px;
	color: white;
	float: none;
}

.button{
	width: 400px;
	color: black;
	float: none;
}

#transparente{
      	z-index: 1;
      	width: 100%;
      	height: 450px;
      	background-color: #000;
      	border: 1px solid black;
      	opacity: 0.3;
      	filter: alpha(opacity=90);
      	position: relative;
      	margin-top: -450px;
}

#servicios{
	height: 450px;
	width: 100%;
	background-size: 100% 100%;
	text-align: center;
	color: white;
	padding-top: 3%;
}

#servicios img{
	width: 25%;
	display:block;
	float: left;
	padding-top: 3%;
	padding-left: 6%;
	padding-right: 0%;
}

#servicios p{
	width: 25%;
	text-align: center;
	padding-top: 3%;
	padding-left: 6%;
	padding-right: 0%;
	display: block;
	float: left;
}

#galeria{
	height: 650px;
	width: 100%;
	background-size: 100% 100%;
	text-align: center;
	color: white;
	padding-top: 3%;
}

#galeria img{
	width: 25%;
	display: block;
	float: left;
	padding-top: 3%;
	padding-left: 6%;
	padding-right: 2%;
}

#nosotros{
	height: 450px;
	width: 100%;
	background-size: 100% 100%;
	text-align: center;
	color: white;
	padding-top: 3%;
}

#nosotros img{
	width: 25%;
	display: block;
	float: left;
	padding-top: 3%;
	padding-left: 6%;
	padding-right: 0%;
}

#nosotros p{
	width: 25%;
	text-align: center;
	padding-top: 3%;
	padding-left: 38%;
	padding-right: 0%;
	display: block;
	float: left;
}

#ventaja{
	height: 550px;
	width: 100%;
	background-size: 100% 100%;
	text-align: center;
	color: white;
	padding-top: 3%;
}

#ventaja img{
	width: 25%;
	display: block;
	float: left;
	padding-top: 3%;
	padding-left: 6%;
	padding-right: 0%;
}

#ventaja p{
	width: 25%;
	text-align: center;
	padding-top: 3%;
	padding-left: 38%;
	padding-right: 0%;
	display: block;
	float: left;
}

#devolucion{
	height: 650px;
	width: 100%;
	background-size: 100% 100%;
	text-align: center;
	color: white;
	padding-top: 3%;
}

#devolucion img{
	width: 25%;
	display: block;
	float: left;
	padding-top: 3%;
	padding-left: 6%;
	padding-right: 0%;
}

#devolucion p{
	width: 25%;
	text-align: center;
	padding-top: 3%;
	padding-left: 38%;
	padding-right: 0%;
	display: block;
	float: left;
}


#mapa{
	height: 350px;
	width: 100%;
	background-size: 100% 100%;
}

#pie{
	height: 50px;
	width: 100%;
	color: white;
	line-height: 50px;
	text-align: center;
}

#izq{
	height: 100%;
	width: 100%;
	background-color: #000;
	color: white;
	text-align: center;
	padding-left: 10px;
	float: left;
}

#der{
	height: 100%;
	width: 100%;
	background-color: #000;
	color: white;
	text-align: center;
	padding-right: 10px;
	float: left;
}
